<h1>Make your form here</h1>
<form method="POST" action="/show">
<label> Pirate Name: <input type="text" name="pirate[name]"></label>
<label> Pirate Height: <input type="text" name="pirate[height]"></label>
<label> Pirate Weight <input type="text" name="pirate[weight]"></label>
<label> Ship Name: <input type="text" name="pirate[ship_name_1][][name]"></label>
<label> Ship Type: <input type="text" name="pirate[ship_type_1][][type]"></label>
<label> Ship Booty <input type="text" name="pirate[ship_type_1][][booty]"></label>
<label> Ship Name: <input type="text" name="pirate[ship_name_2][][name]"></label>
<label> Ship Type: <input type="text" name="pirate[ship_type_2][][type]"></label>
<label> Ship Booty <input type="text" name="pirate[ship_type_2][][booty]"></label>
<input type="submit">
