<h1>Make your form here</h1>
<form method="POST" action="/show">
  Pirate Name: <input type="text" name="pirate[name]">
Pirate Height: <input type="text" name="pirate[height]">
Pirate Weight <input type="text" name="pirate[weight]">
Ship Name: <input type="text" name="pirate[ship_name_1][][name]">
Ship Type: <input type="text" name="pirate[ship_type_1][][type]">
Ship Booty <input type="text" name="pirate[ship_type_1][][booty]">
Ship Name: <input type="text" name="pirate[ship_name_2][][name]">
Ship Type: <input type="text" name="pirate[ship_type_2][][type]">
Ship Booty <input type="text" name="pirate[ship_type_2][][booty]">
<input type="submit">
